<header class="container-header">
    <div class="content-logo">
        <a class="link-img" href="#"><img src="/images/IndexImages/Logo.png" alt="Logo Pokemon"></a>
    </div>
    <div class="btn-opcoes">
        <img src="/images/IndexImages/BurgenBtn.svg" alt="Menu Opções">
    </div>
    <nav class="container-links">
        <a href="#">Home</a>
        <a href="#">Pokédex</a>
        <a href="/legendaries" target="_blanc">Legendaries</a>
        <a href="#">Documentation</a>
    </nav>
</header>