<header class="container-header">
    <div class="content-logo">
        <a class="link-img" href="#"><img src="/images/Logo.png" alt="Logo Pokemon"></a>
    </div>
    <ul class="container-links">
        <li><a href="#">Home</a></li>
        <li><a href="#">Pokédex</a></li>
        <li><a href="/legendaries/all" target="_blanc">Legendaries</a></li>
        <li><a href="#">Documentation</a></li>
    </ul>
</header>