<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/error.css">
    <title>Error 404 - Not Found</title>
</head>

<body>
    <section class="container">
        <img class="image-404" src="/images/404Images/404.svg" alt="Error 404">
        <img class="image-equipe-rocket" src="/images/404Images/teamRocket.svg" alt="Imagem Equipe Rocket">
    </section>
    <section class="container-text">
        <h2>The rocket team</h2>
        <h2>has won this time.</h2>
    </section>
    <button class="button-return" type="submit">Return</button>
</body>

</html>