<!DOCTYPE html>
<html lang="pt-br">

<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>
            <main class="container-main">
                <img class="banner-complete" src="/images/IndexImages/BannerComplete.svg" alt="Baner Pikachu">
                <img class="banner-incomplete" src="/images/IndexImages/banner.svg" alt="Banner pikachu">
                <div class="container-txt">
                    <h1><strong>Find</strong> all your favorite <strong>Pokemon</strong></h1>
                    <p>You can know the type of Pokemon, its strengths, disadvantages and abilities</p>
                    <button type="submit">See pokemons</button>
                </div>
            </main>
            <%- include('./partials/footer') %>
    </body>

</html>