@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,300;0,500;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,300;0,500;1,200&family=Source+Sans+Pro:ital,wght@0,300;1,200&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Karla', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #D93E30;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 170px 0 0 0;
}

.container {
    min-width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.image-404 {
    min-width: 100%;
    width: 60%;
}

.image-equipe-rocket {
    position: absolute;
    width: 69%;
    top: -5px;
    left: 55px;
}

.container-text {
    margin-top: 25px;
    display: flex;
    text-align: center;
    flex-direction: column;
}

h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.3px;
}

h2:nth-child(1) {
    color: #F2F2F2;
}

.button-return {
    margin-top: 75px;
    width: 140px;
    height: 40px;
    border-radius: 11px;
    font-size: 17px;
    line-height: 20px;
    font-weight: 700;
    background-color: #F2CB07;
    box-shadow: inset 0px -9px 1px rgba(0, 0, 0, 0.18);
}

@media screen and ( min-width: 375px) {}

@media screen and ( min-width: 480px) {}

@media screen and ( min-width: 768px) {}

@media screen and ( min-width: 960px) {}

@media screen and ( min-width: 1200px) {}

@media screen and ( min-width: 1440px) {}